.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}

.card {
  background: var(--card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 20px;
  color: var(--text);
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  width: 100%;

}

.input {
  flex: 1;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background: var(--card);
  color: var(--text);
  border: 1px solid var(--border);

  
}

.button {
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  background: #6366f1;
  color: white;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.deleteBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.2s ease;
}

.deleteBtn:hover {
  opacity: 1;
  transform: scale(1.1);
}
.editInput {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid var(--border);
}

.actionBtn { 
  margin-left: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.actionBtn:hover {
  opacity: 1;
  transform: scale(1.1);
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid var(--border);
  background: var(--card);
  width: 100%;
  color: var(--text);
  transition: background 0.2s ease, transform 0.2s ease;
}
.list {
  list-style: none;
  padding: 0;   /* 🔥 ini penting */
  margin: 0;
  width: 100%;
}

.item:hover {
  background: rgba(0, 0, 0, 0.03);
  transform: translateY(-1px);
  cursor: pointer;
}
.dark .item:hover {
  background: rgba(255,255,255,0.05);
}

.empty {
  text-align: center;
  color: var(--subtext);
  margin-top: 16px;
}